<footer class="fixed-bottom">
	<div class="row row-social">
		<div class="col-md-2">
			<a href="/"><h1>Beautiful Flask</h1></a>
		</div>
		<div class="col-md-8 social-list">
			<a href="https://fb.com/duttaditya18"><i class="fab fa-facebook-f"></i></a>
			<a href="https://twitter.com/EighteenAndOut"><i class="fab fa-twitter"></i></a>
			<a href="https://github.com/duttaditya18/csi-17-blog"><i class="fab fa-github"></i></a>	
		</div>
	</div>
	<div class="row row-copyright">
		<div class="col-md-6">
			<span>&copy; Copyright <script>document.write(new Date().getFullYear())</script> - Blog</span>
		</div>
		<div class="col-md-6">
			<a href="#content">Top<i class="fas fa-arrow-up"></i></a>
		</div>
	</div>
</footer>