{% extends "layout.html" %}
{% block title %}Home{{ super() }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container hero">
	<h1 class="text-center">Home</h1>
	<p>CSI Multimedia Project</p>
	<hr>
</div>
<div class="container">
	{% for post in post_content %}
	<a href = "/{{ post.title.string }}">
		<div class="card" style="width: 100%">
		  	<div class="card-body">
		  			<div class="card-header">{{ post.title.string }}</div>
		  			<div class="card-body">
				    	<p class="card-text">{{ post.p.string }}...</p>
				    	 <p class="card-text"><small class="text-muted">Posted by <b>
				    	 {{ post.find("div",{"id":"author"}).string }}</b> on <b>

				    	 {{ post.find("div",{"id":"time"}).string }}</b></small></p>
				    </div>
		  	</div>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}