{% extends "layout.html" %}

{% block title %}Login{{super()}}{% endblock %}

{% block content %}
<div class="container hero">
	<h1 class="text-center">Login</h1>
	<p>CSI Multimedia Project</p>
	<hr>
</div>
<form action = "/login" method="post" class="login">
	<div class="container">
		{% if strike == 1 %}
		<script>
			swal({
	  			title: 'The Username or Password is incorrect.',
				text: 'Please write correctly.',
				type: 'error',
			})
		</script>
		{% endif %}
		<div class="form-group reg-form">
			<div class="input-group-addon"><i class="fas fa-at"></i></div>
			<input class="form-control" type="text" name="username" placeholder="Enter Username">
		</div>
		<div class="form-group reg-form">
			<div class="input-group-addon"><i class="fas fa-key"></i></div>
			<input class="form-control" type="password" name="password" placeholder="Enter Password">
		</div>
		<button type="submit" name="submit" class="btn btn-outline-dark btn-lg">Submit</button>
	</div>
</form>

{% endblock %}
