{% extends "layout.html" %}
{% block title %}{{ user }}{{ super() }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-3 card mb-3 card-user">
				<div class="card-header">@{{ user }}</div>
  				<img class="card-img-top" src="{{ photo }}" alt="Image">
				<div class="card-body">
					<h4 class="card-title">{{ full_name }}</h4>
					<p class="card-text">{{ bio }}</p>
				</div>
			</div>
			<div class="col-9">
				<h4>Recent Posts</h4>
				{% for post in post_content %}
				<a href = "/{{ post.find('div',{'id':'author'}).string }}/{{ post.title.string }}">
					<div class="card" style="width: 100%">
					  	<div class="card-body">
					  			<div class="card-header">{{ post.title.string }}</div>
					  			<div class="card-body">
					  				{% if post.p.string.__len__() > 750 %}
							    	<p class="card-text">{{ post.p.string }}...</p>
							    	{% else %}
							    	<p class="card-text">{{ post.p.string }}</p>
							    	{% endif %}
							    	 <p class="card-text"><small class="text-muted">Posted by <b>{{ post.find("div",{"id":"author"}).string }}</b> on <b>{{ post.find("div",{"id":"datetime"}).string }}</b></small></p>
					  				
							    </div>
					  	</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
</div>
{% endblock %}
