
			<title>Hall of Fame</title>
			<body>
				<div class="container hero"><h1>Hall of Fame</h1><hr></div><div class="container"><p>Yeah, You could be the greatest
You can be the best
You can be the King Kong banging on your chest
You could beat the world
You could beat the war
You could talk to God, go banging on his door
You can throw your hands up
You can beat the clock
You can move a mountain
You can break rocks
You can be a master
Don't wait for luck
Dedicate yourself and you gon' find yourself
Standing in the hall of fame (yeah)
And the world's gonna know your name (yeah)
'Cause you burn with the brightest flame (yeah)
And the world's gonna know your name (yeah)
And you'll be on the walls of the hall of fame
You can go the distance
You can run the mile
You can walk straight through hell with a smile
You could be the hero
You could get the gold
Breaking all… Full lyrics on Google Play Music
</p></div>
				</div>
			</body>
			<div id="metadata" style = "display: none">
			<div id = "author">admin</div>
			<div id = "datetime">Mon Dec 25 18:25:05 2017</div>
			<div id = "post_id">HallOfFame</div>
			</div>
			