
			<title>Ishaan</title>
			<body>
				<div class="container hero"><h1>Ishaan</h1><hr></div><div class="container"><p>The English language was first written in the Anglo-Saxon futhorc runic alphabet, in use from the 5th century. This alphabet was brought to what is now England, along with the proto-form of the language itself, by Anglo-Saxon settlers. Very few examples of this form of written Old English have survived, these being mostly short inscriptions or fragments.

The Latin script, introduced by Christian missionaries, began to replace the Anglo-Saxon futhorc from about the 7th century, although the two continued in parallel for some time. Futhorc influenced the emerging English alphabet by providing it with the letters thorn (Þ þ) and wynn (Ƿ ƿ). The letter eth (Ð ð) was later devised as a modification of dee (D d), and finally yogh (Ȝ ȝ) was created by Norman scribes from the insular g in Old English and Irish, and used alongside their Carolingian g.

The a-e ligature ash (Æ æ) was adopted as a letter in its own right, named after a futhorc rune æsc. In very early Old English the o-e ligature ethel (Œ œ) also appeared as a distinct letter, likewise named after a rune, œðel[citation needed]. Additionally, the v-v or u-u ligature double-u (W w) was in use.

In the year 1011, a monk named Byrhtferð recorded the traditional order of the Old English alphabet.[2] He listed the 24 letters of the Latin alphabet first (including ampersand), then 5 additional English letters, starting with the Tironian note ond (⁊), an insular symbol for and:

    A B C D E F G H I K L M N O P Q R S T V X Y Z & ⁊ Ƿ Þ Ð Æ </p></div>
				</div>
			</body>
			<div id="metadata" style = "display: none">
			<div id = "author">datboiee</div>
			<div id = "datetime">Mon Dec 25 18:55:04 2017</div>
			<div id = "post_id">Ishaan</div>
			</div>
			